@import url(https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu);

body {
    /*background-color: #eee;*/
    background-image: url("01TILE-fullsz.png");
    background-repeat: repeat;
    margin:0;
    padding:0;
}

/* Header, Nav, Footer */

header {
    background-color: rgba(255, 255, 255, 0.60);
    border-bottom: 3px solid #fff;
    color: #660000;
    float: left;
    font-family: 'Ubuntu', sans-serif;
    height: 80px;
    margin:0;
    /*padding:5px 10px 0px;*/
    padding: 0 .75em .25em;
    width:100%;
}

header:after {
    clear:both;
    content:"";
    display:table;
}

header a, footer a, main a { 
    color: #660000;
    text-decoration:none; 
}

header a:hover, footer a:hover { 
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 0px 5px #ff0000;
}

header a:visited, footer a:visited { 
    color: #660000;
}

header a:active, footer a:active { 
    color: #eee;
    font-weight: bold;
    text-shadow: 0px 0px 5px #cc0000;
}

header ul {
    /*display:inline-block;*/
    list-style:none;
    list-style-type:none;
}

/*header ul li { margin:0 0.25em 0 0 }*/

/*header ul li a {
    display:inline-block;
    padding:0;
} */

nav {
    float: right;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 4em;
    padding-top: 2em;
    text-shadow: 1px 1px 15px #fff;
}

footer {
    background-color: rgba(255, 255, 255, 0.60);
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    color: #660000;
    font-family: 'Open Sans', sans-serif;
    margin: 0px, auto;
    padding-bottom: 20px;
    text-align: center;
}

/* Main (Where template contents are displayed.) */

main { padding: 105px 10px 25px; } 

main::after {
    clear:both;
    content:"";
    display:table;
}

main h1, h2 { 
    font-family: 'Ubuntu', sans-serif;
    margin-top:0;
}

.shadowed { text-shadow: -2px -2px 2px #aaa; }

main ul { font-family: 'Open Sans', sans-serif; }

main p {
/*    color:#111;*/
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

.smaller { 
    font-size: 65%;
    margin-bottom: 0;
 }

.form-field-text {
    border: 1px solid #111;
    float:right;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    vertical-align: text-top;
    width: 85%;
}

.form-label {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.submit-button {
    margin-bottom: 0;
    padding-top: 5px;
    text-align: center;
}

main a { 
    color: #660000;
}

main a:visited { color: #660000; }

main a:hover { 
    color: #eee;
    font-weight: bold;
    text-shadow: 0px 0px 5px #660000;
}

main a:active { 
    color: #eee;
    font-weight: bold;
    text-shadow: 0px 0px 5px #cc0000;
}

#content {
    background-color: #eee;
    border: solid 1px #111;
    border-radius: 5px;
    padding: .75em .5em;
}

main article {
    margin-bottom:.75em;
    /*padding-left:0.5em */
}

main article h3 { 
    font-family: 'Ubuntu', sans-serif; 
    margin: .5em;
}

main form { border-top: .5em; }


/* Buttons */

.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: 'Ubuntu', sans-serif;
    color: #111;
    font-size: .8em;
    background: #ccc;
    padding: 5px 10px 5px 10px;
    border: solid #330000 1px;
    text-decoration: none;
}

.btn:visited { color: #111; } 

.btn:hover {
    background: #660000;
    color: #eee;
    font-weight: bold;
    text-decoration: none;
}.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #ffffff; }
.codehilite .c { color: #888888 } /* Comment */
.codehilite .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.codehilite .k { color: #008800; font-weight: bold } /* Keyword */
.codehilite .o { color: #333333 } /* Operator */
.codehilite .ch { color: #888888 } /* Comment.Hashbang */
.codehilite .cm { color: #888888 } /* Comment.Multiline */
.codehilite .cp { color: #557799 } /* Comment.Preproc */
.codehilite .cpf { color: #888888 } /* Comment.PreprocFile */
.codehilite .c1 { color: #888888 } /* Comment.Single */
.codehilite .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.codehilite .s { background-color: #fff0f0 } /* Literal.String */
.codehilite .na { color: #0000CC } /* Name.Attribute */
.codehilite .nb { color: #007020 } /* Name.Builtin */
.codehilite .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.codehilite .no { color: #003366; font-weight: bold } /* Name.Constant */
.codehilite .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.codehilite .ni { color: #880000; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.codehilite .nl { color: #997700; font-weight: bold } /* Name.Label */
.codehilite .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #007700 } /* Name.Tag */
.codehilite .nv { color: #996633 } /* Name.Variable */
.codehilite .ow { color: #000000; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.codehilite .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.codehilite .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.codehilite .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.codehilite .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.codehilite .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.codehilite .sc { color: #0044DD } /* Literal.String.Char */
.codehilite .sd { color: #DD4422 } /* Literal.String.Doc */
.codehilite .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.codehilite .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.codehilite .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.codehilite .si { background-color: #eeeeee } /* Literal.String.Interpol */
.codehilite .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.codehilite .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.codehilite .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.codehilite .ss { color: #AA6600 } /* Literal.String.Symbol */
.codehilite .bp { color: #007020 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #336699 } /* Name.Variable.Class */
.codehilite .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.codehilite .vi { color: #3333BB } /* Name.Variable.Instance */
.codehilite .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
