@import url(https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu);

body {
    /*background-color: #eee;*/
    background-image: url("01TILE.png");
    background-repeat: repeat;
    margin:0;
    padding:0;
}

header {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 3px solid #fff;
    color: #660000;
    float: left;
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    /*padding:5px 10px 0px;*/
    padding: 0 .75em .25em;
    text-shadow: 1px 1px 15px #fff;
    width:100%;
}

header:after {
    clear:both;
    content:"";
    display:table;
}

header a, footer a { text-decoration:none }

header a:hover, 
footer a:hover { 
    color: #660000;
    font-weight: bold;
    /*text-shadow: -1px 1px 1px #ffcccc;*/
}

header a:visited, 
footer a:visited { 
    color: #660000;
    text-shadow: 1px 1px 15px #fff;
}

header aside {
    float:right;
    padding-right:0.75em;
    text-align:right;
}

 header ul {
    /*display:inline-block;*/
    list-style:none;
    list-style-type:none;
}

/*header ul li { margin:0 0.25em 0 0 }*/

header ul li a {
    /*display:inline-block;*/
    padding:0;
} 

nav {
    float: right;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 4em;
    padding-top: 2em;
    text-shadow: 1px 1px 15px #fff;
}

main { padding: 6.5em 0.75em 1.5em } 

main::after {
    clear:both;
    content:"";
    display:table;
}

main h1, h2 { 
    font-family: 'Ubuntu', sans-serif;
    margin-top:0;
}

main ul { font-family: 'Open Sans', sans-serif; }

main p {
    color:#111;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

.form-field-text {
    float:right;
    margin-right: 3em;
    vertical-align: text-top;
    width: 83%;
}

.form-label {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.button{
    padding-left: 1em;
    padding-top: .5em;
}

main a:link { color: #660000; }
main a:visited { color: #660000; }
main a:hover { 
    color: #660000;
    font-weight: bold;
    /*text-shadow: -1px 1px #ffcccc;*/
}
main a:active { 
    color: #993333;
    /*text-shadow: 0px 0px 2px #cc9999;*/
}

#content {
    background-color: #eee;
    border: solid 1px #111;
    border-radius: 5px;
    padding: .75em .5em;
}

main article {
    margin-bottom:.75em;
    /*padding-left:0.5em */
}

main article h3 { 
    font-family: 'Ubuntu', sans-serif; 
    margin: .5em;
}

/*main article .entry_body { margin:0.5em }*/

/*main aside { float:right }*/

main aside .field { margin-bottom:1em }

main aside .field input,
main aside .field label,
main aside .field textarea { align-content: flex-start; }

main aside .field label {
    display:inline-block;
    padding-top:.5em;
    width:20%;
}

main aside .field input,
main aside .field textarea{ width:83%; }

main aside .control_row input { margin-left:16%; }

main form { border-top: .5em; }



footer {
    background-color: rgba(255, 255, 255, 0.75);
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    color: #660000;
    font-family: 'Open Sans', sans-serif;
    margin: 0px, auto;
    padding: 1em 0.75em;
    text-align: center;
    text-shadow: 2px 2px 15px #fff;
}
