{% extends "layout.jinja2" %}
{% block body %}
<article>
  <h2>{{ entry.title }}</h2>
  <hr />
  <p>{{ entry.body|markdown }}</p>
  <hr />
{#   <p>Created: <strong title="{{ entry.created }}">{{ entry.created }}</strong><br>
  Edited: <strong title="{{ entry.edited }}">{{ entry.edited }}</strong></p> #}
  {% if entry.is_edited %}
    <p>Edited: <strong title="{{ entry.edited }}">{{entry.edited|shortdate}}</strong></p>
  {% else %}
    <p>Created: <strong title="{{ entry.created }}">{{entry.created|shortdate}}</strong></p>
  {% endif %}
  <p class='submit-button'>
    {% if logged_in %}
    <a class="btn" href="{{ request.route_url('action', action='edit', _query={'id': entry.id}) }}">Edit Entry</a>
    {% endif %}
  </p>
</article>
{% endblock %}