{% extends "templates/layout.jinja2" %}
{% block body %}
<form action="{{ request.route_url('action', action='edit') }}" method="POST">
{% for field in form %}
  {% if field.errors %}
    <ul>
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if field.widget.input_type != 'hidden' %}
    <p>{{ field.label(class_="form-label") }}: {{ field(class_="form-field-text") }}</p>
  {% else% }
    {{ field.label }}{{ field }}
  {% endif %}
 {% endfor %}
    <p class="submit-button"><input class="btn" type="submit" name="submit" value="Update" /></p>
</form>
{% endblock %}